<div class="ten columns animated fadeInDown">
    <section id="logo"><span class="slate">Slate</span>
    <span class="description">The Reusable Checklist</span>
    </section>
  </div>
  <div class="six columns">
    <section id="login">
    <input type="text" id="username" placeholder="Username"/>
    <input type="text" id="password" placeholder="Password"/>
    <button type="submit">Sign In</button>
    </section>
  </div>
